.upperleft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upperleft-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 90px;
}

.upperleft-div1 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2; 
}
.upperleft-div2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3; 
}
.upperleft-div3 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 3 / 2 / 4; 
}
.upperleft-div4 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 4 / 2 / 5; 
}
.upperleft-div5 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2; 
}
.upperleft-div6 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3; 
}
.upperleft-div7 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 3 / 3 / 4; 
}
.upperleft-div8 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 4 / 3 / 5; 
}

.upperleft h1{
  font-size: calc(7px + 1vmin);
  color: white;
}

.upperleft h2{
  font-size: calc(15px + 1vmin);
  color: white;
}