.App {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.App-parent{
  display: grid;
  padding: 40px;
  background-color: #282c34;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.App-div1 { 
  grid-area: 1 / 1 / 3 / 4; 
  background-color: #a3a3a340;
  border-style: solid;
  border-color:#ffffff70;
  border-width: 2px;
  border-radius: 25px;
}
.App-div2 { 
  grid-area: 3 / 1 / 9 / 4; 
  background-color: #a3a3a340; 
  border-style: solid;
  border-color:#ffffff70;
  border-width: 2px;
  border-radius: 25px;
}
.App-div3 { 
  grid-area: 1 / 4 / 6 / 6; 
  background-color: #a3a3a340; 
  border-style: solid;
  border-color:#ffffff70;
  border-width: 2px;
  border-radius: 25px;
}
.App-div4 { 
  grid-area: 6 / 4 / 9 / 6; 
  background-color: #a3a3a340; 
  border-style: solid;
  border-color:#ffffff70;
  border-width: 2px;
  border-radius: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
